
<a href="/single-hotel.html?slug={{slug}}" class="block">
    <div class="bg-white rounded-xl shadow-lg overflow-hidden hotel-card">
        <div class="relative">
            <img src="https://images.unsplash.com/photo-1611892440504-42a792e24d32?ixlib=rb-4.0.3&auto=format&fit=crop&w=800&q=80" alt="Гранд Отель Грозный" class="w-full h-56 object-cover">
            <div class="absolute top-4 right-4 bg-accent text-white px-3 py-1 rounded-lg font-bold">
                {{ratingScore}}
            </div>
        </div>
        <div class="p-4">
            <div class="flex justify-between items-start">
                <h3 class="text-xl font-bold">{{name}}</h3>
                
            </div>
            <p class="text-gray-600 mt-2 flex items-center text-xs">
                <span class="w-full">
                    <i class="fas fa-map-marker-alt text-primary mr-2"></i>{{address}} •
                    <i class="fas fa-walking"></i> до центра {{fromCenter}}
                </span>
            </p>
            <div class="mt-4 flex items-center">
                <div class="rating-stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span class="ml-2 text-gray-600">{{ratingScore}} ({{reviews}} отзывов) </span>
            </div>
            <!-- Features -->
            <div class="mt-4 flex flex-wrap gap-2">
                {{features}}
            </div>
            <div class="flex text-center justify-between items-center mt-6">
                <div class="text-primary font-bold">{{priceFrom}} руб.</div>
                <button class="px-4 bg-primary hover:bg-primary/90 text-white py-3 rounded-lg font-medium transition btn-primary">
                    Подробнее
                </button>
            </div>            
        </div>
    </div>
</a>